@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Hide scrollbar for Chrome, Safari and Opera */
  *::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  * {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  body {
    @apply bg-bone text-black font-space;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-archivo uppercase tracking-tighter;
  }
}

@layer components {
  .brutal-border {
    @apply border-4 border-black;
  }

  .brutal-shadow {
    @apply shadow-brutal;
  }

  .brutal-btn {
    @apply brutal-border transition-all inline-flex items-center justify-center;
    box-shadow: 6px 6px 0px 0px #000;
  }

  .brutal-btn:hover {
    transform: translate(-2px, -2px);
    box-shadow: 8px 8px 0px 0px #000;
  }

  .brutal-btn:active {
    transform: translate(4px, 4px);
    box-shadow: 2px 2px 0px 0px #000;
  }

  .bg-dots {
    background-image: radial-gradient(#000 1px, transparent 1px);
    background-size: 20px 20px;
    background-color: #F7F5F0;
  }

  @keyframes scanline {
    from {
      transform: translateY(-100%);
    }

    to {
      transform: translateY(1000%);
    }
  }

  .animate-scanline {
    animation: scanline 8s linear infinite;
  }
}